body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./assets/img/5_background/wueste.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.game {
    position: relative;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}

#startScreen img {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}

.startButton {
    width: 100px;
    height: 100px;
}

.d-none {
    display: none !important;
}

@font-face {
    font-family: zabars;
    src: url(./assets/font/Zabars.ttf);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}